<div class="map_container">
  <br><br>
  <p>LOCATION</p>
  <br><br>
  <p>
    {{ currentYear }}년
    {{ monthNames }}월
    {{ currentDate }}일
    {{ days }}요일
    {{ anteMeridiem }} 오전
    {{weddingStartHourTime}}시
    {{weddingStartMinuteTime}}분
  </p>
  <br><br>
<div #map class="map"></div>
  <br><br>
  <div class="grid-container">
    <div class="grid-item">버&nbsp;&nbsp;&nbsp;&nbsp;스</div>
    <div class="grid-item content">{{address}}</div>
    <div class="grid-item">지하철</div>
    <div class="grid-item content">{{subway}}</div>
    <div class="grid-item">주&nbsp;&nbsp;&nbsp;&nbsp;차</div>
    <div class="grid-item content">{{parking}}</div>
  </div>
</div>
