<div class="map_container">
  <br><br><br>
  <p class="location-title">LOCATION</p>
  <br><br>
  <p>{{ dateLine }}</p>
  <br><br>
  <div #map class="map"></div>
  <br><br>
  <div class="grid-container">
    <strong class="grid-item">버&nbsp;&nbsp;&nbsp;&nbsp;스</strong>
    <div class="grid-item content">{{ bus }}</div>
    <strong class="grid-item">지하철</strong>
    <div class="grid-item content">{{ subway }}</div>
    <strong class="grid-item">주&nbsp;&nbsp;&nbsp;&nbsp;차</strong>
    <div class="grid-item content">{{ parking }}</div>
  </div>
</div>
