<br><br><br><br><br><br>
<div class="text-account">
  <strong>마음 전하실 곳</strong>
</div>

@for (acc of invitation.accounts.groom; track acc.number) {
  <div class="input-wrapper">
    <div class="container-item">
      <span>신랑측 · {{ acc.bank }} {{ acc.number }} ({{ acc.holder }})</span>
      <button class="fas fa-copy copy-icon"
              [cdkCopyToClipboard]="acc.number"
              (click)="showCopiedAlert()"></button>
    </div>
  </div>
  <div style="height: 25px"></div>
}

@for (acc of invitation.accounts.bride; track acc.number) {
  <div class="input-wrapper">
    <div class="container-item">
      <span>신부측 · {{ acc.bank }} {{ acc.number }} ({{ acc.holder }})</span>
      <button class="fas fa-copy copy-icon"
              [cdkCopyToClipboard]="acc.number"
              (click)="showCopiedAlert()"></button>
    </div>
  </div>
  <div style="height: 25px"></div>
}
