<app-type-kit-loader></app-type-kit-loader>

@if (invitation$ | async; as invitation) {
  <div class="container">
    <app-first-main [invitation]="invitation"></app-first-main>
    <app-wedding-invite-comment [invitation]="invitation"></app-wedding-invite-comment>
    <app-wedding-calander [invitation]="invitation"></app-wedding-calander>
    <app-wedding-gallery-v2 [invitation]="invitation"></app-wedding-gallery-v2>
    <app-wedding-location [invitation]="invitation"></app-wedding-location>
    <app-wedding-account [invitation]="invitation"></app-wedding-account>
    <app-kakao-share [invitation]="invitation"></app-kakao-share>
  </div>

  <app-wedding-foorter></app-wedding-foorter>
}
