<div class="wedding-invite-comment">
  <div class="wedding-invite-comment-box">
    <p class="invite-title">YOU’RE INVITED</p>
    <p class="invite-greeting">{{ invitation.content.greeting }}</p>

    <table class="invisible-table">
      <tbody>
        <tr>
          <td>
            <strong>{{ invitation.groom.father }}</strong>
            &nbsp;<strong class="dot">·</strong>&nbsp;
            <strong>{{ invitation.groom.mother }}</strong>
          </td>
          <td>의</td>
          <td>{{ invitation.groom.order }}</td>
          <td>{{ invitation.groom.name }}</td>
        </tr>
        <tr>
          <td>
            <strong>{{ invitation.bride.father }}</strong>
            &nbsp;<strong class="dot">·</strong>&nbsp;
            <strong>{{ invitation.bride.mother }}</strong>
          </td>
          <td>의</td>
          <td>{{ invitation.bride.order }}</td>
          <td>{{ invitation.bride.name }}</td>
        </tr>
      </tbody>
    </table>
    <div class="date-place">
      <p>{{ dateLine }}</p>
      <p>{{ hallText }}</p>
    </div>
  </div>
</div>
