<div class="wedding-invite-comment">
  <div class="wedding-invite-comment-box">
    <p class="invite-title">YOU'RE INVITED</p>
    <br>
    <p style="white-space: pre-line">{{ invitation.content.greeting }}</p>
    <br><br><br><br>

    <table class="invisible-table">
      <tr>
        <td>
          <strong>{{ invitation.groom.father }}</strong>
          &nbsp;<strong class="dot">·</strong>&nbsp;
          <strong>{{ invitation.groom.mother }}</strong>
        </td>
        <td>의</td>
        <td>{{ invitation.groom.order }}</td>
        <td>{{ invitation.groom.name }}</td>
      </tr>
      <tr>
        <td>
          <strong>{{ invitation.bride.father }}</strong>
          &nbsp;<strong class="dot">·</strong>&nbsp;
          <strong>{{ invitation.bride.mother }}</strong>
        </td>
        <td>의</td>
        <td>{{ invitation.bride.order }}</td>
        <td>{{ invitation.bride.name }}</td>
      </tr>
    </table>
    <br><br><br><br>
    <p>{{ dateLine }}</p>
    <p>{{ hallText }}</p>
  </div>
</div>

<br>
<br>
<br>
