<!--<div class="invitation-container">-->
<!--  <app-first-main></app-first-main>-->
<!--</div>-->
<app-type-kit-loader></app-type-kit-loader>
<div class="container">
  <app-first-main></app-first-main>
  <app-wedding-invite-comment></app-wedding-invite-comment>
  <app-wedding-calander></app-wedding-calander>
  <app-wedding-gallery></app-wedding-gallery>
  <app-wedding-location></app-wedding-location>
  <app-wedding-account></app-wedding-account>
  <app-kakao-share></app-kakao-share>
</div>

<app-wedding-foorter></app-wedding-foorter>

