<div class="calendar">
  <div class="calendar-box">
    <br><br>
    <p>DATE</p>
    <br><br>
    <table class="calendar-table">
      <thead>
        <tr>
          @for (day of ['일', '월', '화', '수', '목', '금', '토']; track day) {
            <th>{{ day }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of createRows(); track row) {
          <tr>
            @for (day of row; track day) {
              <td [ngClass]="{ 'selected': day === weddingDay }">
                @if (day) {
                  <span>{{ day }}</span>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
    <br><br>
    <div class="calendar-header">
      <p>
        {{ currentYear }}년
        {{ monthNames[currentMonth] }}
        {{ weddingDay }}일
        {{ timeText }}
      </p>
    </div>
    <br><br><br><br><br><br>
  </div>
</div>
